<server description="new server">

    <!-- Enable features -->
    <featureManager>
        <feature>jsf-2.0</feature>
        <feature>jsp-2.2</feature>
        <feature>servlet-3.0</feature>
        <feature>ejbLite-3.1</feature>
        <feature>cdi-1.0</feature>
        <feature>jpa-2.0</feature>
        <feature>jdbc-4.0</feature>
        <feature>jndi-1.0</feature>
        <feature>managedBeans-1.0</feature>
        <feature>jaxrs-1.1</feature>
    </featureManager>

    <httpEndpoint id="defaultHttpEndpoint" host="*" httpPort="${port}"/>

    <application name="myapp" context-root="/" location="myapp" type="war" />
        
    <logging logDirectory="${application.log.dir}"/>

    <include location="runtime-vars.xml" />

    <webContainer trustHostHeaderPort="true" extractHostHeaderPort="true" />
    
    <httpDispatcher enableWelcomePage="false"/>

    <logging consoleLogLevel="INFO"/>

    <applicationMonitor dropinsEnabled="false" updateTrigger="mbean"/>

    <config updateTrigger="mbean"/>
</server>
