<server description="new server">

    <!-- Enable features -->
    <featureManager>
        <feature>webProfile-6.0</feature>
        <feature>jaxrs-1.1</feature>
    </featureManager>

    <httpEndpoint id="defaultHttpEndpoint"
                  host="*"
                  httpPort="${port}"
                   />

        <application name="myapp" context-root="/" location="myapp"
        type="war" />
        
    <logging logDirectory="${application.log.dir}"/>

    <include location="runtime-vars.xml" />

    <webContainer trustHostHeaderPort="true" extractHostHeaderPort="true" />
    
    <httpDispatcher enableWelcomePage="false"/>

    <logging consoleLogLevel="INFO"/>
</server>
